html, body {
  font-family: 'Montserrat', sans-serif; }

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

/* ============== nav ============= */
nav {
  background-color: #f9f9f9;
  top: -100px;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  align-items: center;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }
  nav.sticky {
    position: sticky;
    top: 0;
    z-index: 9;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125); }
  nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center; }
    nav ul .cart {
      margin-right: 15px; }
      nav ul .cart a {
        position: relative;
        display: inline-block;
        padding: 5px;
        line-height: 16px;
        font-size: 20px; }
        nav ul .cart a span {
          position: absolute;
          right: -9px;
          top: -9px;
          width: 20px;
          height: 20px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 12px;
          font-weight: 700;
          background-color: #3597de;
          margin-left: 0;
          margin-right: 0; }
        nav ul .cart a:hover {
          background: none !important; }
    nav ul span {
      font-size: 12px;
      margin-left: 5px;
      margin-right: 5px; }
    nav ul a {
      display: inline-block;
      line-height: 64px;
      font-size: 14px;
      font-weight: 500;
      color: #898989;
      text-transform: uppercase;
      padding-left: 10px;
      padding-right: 10px; }
    nav ul.menu > li {
      position: relative; }
    nav ul.menu a img {
      width: 30px; }
    nav ul.menu a:hover {
      text-decoration: none;
      color: #898989;
      background-color: rgba(137, 137, 137, 0.1); }
    nav ul.menu .submenu {
      display: block;
      background-color: #fff;
      position: absolute;
      z-index: 2;
      width: 100%;
      opacity: 0;
      top: -180%;
      -webkit-transition: 0.3s opacity;
      -moz-transition: 0.3s opacity;
      -ms-transition: 0.3s opacity;
      -o-transition: 0.3s opacity;
      transition: 0.3s opacity; }
      nav ul.menu .submenu li {
        width: 100%; }
      nav ul.menu .submenu a {
        font-size: 12px;
        line-height: 40px;
        display: block; }
        nav ul.menu .submenu a i {
          margin-left: 5px; }
      nav ul.menu .submenu.visible {
        opacity: 1;
        top: 100%; }
    @media screen and (min-width: 991px) {
      nav ul.menu > li:hover .submenu {
        opacity: 1;
        top: 100%; } }
    nav ul.logo a {
      display: flex;
      align-items: flex-end; }
      nav ul.logo a span {
        line-height: 20px;
        margin-bottom: 8px;
        font-weight: 700;
        color: #e74c3c; }
      nav ul.logo a:hover {
        text-decoration: none; }
    nav ul.logo img {
      width: 45px; }
  @media screen and (max-width: 575px) {
    nav {
      padding-left: 0;
      padding-right: 0; }
      nav ul.logo a span {
        display: none; } }

.personalMenu {
  margin-top: 90px; }
  .personalMenu ul {
    padding-top: 20px;
    padding-bottom: 30px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    background-color: #f9f9f9; }
    .personalMenu ul li a {
      padding: 8px 15px;
      display: block;
      color: #656565;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
      position: relative; }
      .personalMenu ul li a i {
        margin-right: 10px; }
      .personalMenu ul li a:hover {
        text-decoration: none;
        background-color: rgba(101, 101, 101, 0.25); }
      .personalMenu ul li a.active {
        background-color: rgba(101, 101, 101, 0.05); }
        .personalMenu ul li a.active::after {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 3px;
          background-color: #656565; }
        .personalMenu ul li a.active:hover {
          text-decoration: none;
          background-color: rgba(101, 101, 101, 0.25); }
  @media screen and (max-width: 767px) {
    .personalMenu {
      margin-top: 0; } }

main {
  margin-bottom: 40px; }

footer {
  opacity: 0;
  position: absolute;
  width: 100%;
  background-color: #656565;
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding: 15px;
  font-weight: 700; }
  footer p {
    margin-bottom: 0; }

.title {
  background-color: #32b9da;
  color: #fff;
  padding: 44px 30px;
  position: relative;
  min-height: 170px; }
  .title h1 {
    text-align: center;
    font-size: 51px;
    line-height: 51px;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: capitalize; }
    .title h1 + p {
      text-align: center;
      font-weight: 500; }
  @media screen and (max-width: 767px) {
    .title {
      min-height: auto;
      padding: 20px; }
      .title h1 {
        font-size: 30px; } }

.infoCart {
  margin-top: 15px;
  padding: 44px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 15px; }
  .infoCart .domain {
    text-align: center; }
    .infoCart .domain .total {
      font-weight: 700;
      font-size: 12px;
      margin-bottom: 25px; }
    .infoCart .domain .price {
      font-size: 28px;
      line-height: 30px;
      font-weight: 700; }
      .infoCart .domain .price sub, .infoCart .domain .price sup {
        font-weight: 400;
        font-size: 15px; }
  .infoCart .addCart {
    margin-top: 25px; }
    .infoCart .addCart button {
      max-width: 220px;
      width: 100%;
      cursor: pointer;
      padding: 10px 0;
      margin: 0 auto;
      display: block;
      background: #fd6c00;
      border: none;
      text-transform: uppercase;
      color: #fff;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -moz-box-shadow: 0 1px 1px rgba(9, 9, 9, 0.25);
      -webkit-box-shadow: 0 1px 1px rgba(9, 9, 9, 0.25);
      box-shadow: 0 1px 1px rgba(9, 9, 9, 0.25); }
  .infoCart img {
    display: block;
    margin: 30px auto 0;
    width: 218px; }

main {
  position: relative;
  background-color: #efefef;
  padding-bottom: 40px; }
  main .cartTable .item {
    margin-bottom: 15px; }
    main .cartTable .item:first-of-type {
      margin-top: 15px; }
  main .cartTable .sslStar {
    margin-top: 5px;
    width: 82px;
    height: 15px;
    background-image: url("../img/stars.png");
    background-repeat: no-repeat; }
    main .cartTable .sslStar.star-5 {
      background-position-y: -90px; }
    main .cartTable .sslStar.star-45 {
      background-position-y: -75px; }
    main .cartTable .sslStar.star-4 {
      background-position-y: -60px; }
    main .cartTable .sslStar.star-35 {
      background-position-y: -45px; }
    main .cartTable .sslStar.star-3 {
      background-position-y: -30px; }
  main .cartTable .cartTitle {
    padding: 17px 30px;
    background: #f9f9f9;
    position: relative;
    border: 1px solid #efefef;
    border-bottom: none; }
    main .cartTable .cartTitle .sslRemove {
      position: absolute;
      right: 30px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      main .cartTable .cartTitle .sslRemove button {
        background: none;
        border: none;
        color: #fd6c00;
        cursor: pointer;
        -webkit-transition: 0.3s color;
        -moz-transition: 0.3s color;
        -ms-transition: 0.3s color;
        -o-transition: 0.3s color;
        transition: 0.3s color; }
        main .cartTable .cartTitle .sslRemove button:hover {
          color: #32b9da; }
        main .cartTable .cartTitle .sslRemove button:focus {
          outline: none; }
  main .cartTable .cartContent {
    background: #fff;
    padding: 22px 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid #efefef; }
    main .cartTable .cartContent p {
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 12px;
      color: #898989; }
    main .cartTable .cartContent .validTime select {
      border: 3px solid #d0d0d0;
      padding: 5px 10px;
      font-size: 12px;
      outline: none;
      resize: none;
      background-color: transparent; }
    main .cartTable .cartContent .quantity input {
      width: 60px;
      border: 3px solid #d0d0d0;
      padding: 5px 5px 4px;
      font-size: 12px;
      outline: none;
      resize: none; }
  @media screen and (max-width: 767px) {
    main .cartTable .cartContent {
      display: block; }
      main .cartTable .cartContent > div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid #efefef;
        padding-left: 10px;
        padding-right: 10px; }
        main .cartTable .cartContent > div.quantity input {
          width: 74px; } }
  @media screen and (max-width: 575px) {
    main .cartTable .cartTitle {
      padding-left: 15px;
      padding-right: 30px; }
      main .cartTable .cartTitle .sslRemove {
        right: 5px;
        top: 20px; }
    main .cartTable .cartContent {
      padding-left: 5px;
      padding-right: 5px; } }

/*# sourceMappingURL=cart.css.map */
