@import "media";

html, body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* ============== nav ============= */
nav {
  background-color: #f9f9f9;
  top: -100px;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  align-items: center;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 9;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;

    .cart {
      margin-right: 15px;

      a {
        position: relative;
        display: inline-block;
        padding: 5px;
        line-height: 16px;
        font-size: 20px;

        span {
          position: absolute;
          right: -9px;
          top: -9px;
          width: 20px;
          height: 20px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 12px;
          font-weight: 700;
          background-color: #3597de;
          margin-left: 0;
          margin-right: 0;
        }

        &:hover {
          background: none !important;
        }
      }
    }

    span {
      font-size: 12px;
      margin-left: 5px;
      margin-right: 5px;
    }

    a {
      display: inline-block;
      line-height: 64px;
      font-size: 14px;
      font-weight: 500;
      color: #898989;
      text-transform: uppercase;
      padding-left: 10px;
      padding-right: 10px;
    }

    &.menu {
      > li {
        position: relative;
      }

      a {
        img {
          width: 30px;
        }

        &:hover {
          text-decoration: none;
          color: #898989;
          background-color: rgba(137, 137, 137, 0.1);
        }
      }

      .submenu {
        display: block;
        background-color: #fff;
        position: absolute;
        z-index: 2;
        width: 100%;
        opacity: 0;
        top: -180%;
        -webkit-transition: 0.3s opacity;
        -moz-transition: 0.3s opacity;
        -ms-transition: 0.3s opacity;
        -o-transition: 0.3s opacity;
        transition: 0.3s opacity;

        li {
          width: 100%;
        }

        a {
          font-size: 12px;
          line-height: 40px;
          display: block;

          i {
            margin-left: 5px;
          }
        }

        &.visible {
          opacity: 1;
          top: 100%;
        }
      }

      @media #{$min991} {
        > li {
          &:hover {
            .submenu {
              opacity: 1;
              top: 100%;
            }
          }
        }
      }
    }

    &.logo {
      a {
        display: flex;
        align-items: flex-end;

        span {
          line-height: 20px;
          margin-bottom: 8px;
          font-weight: 700;
          color: #e74c3c;
        }

        &:hover {
          text-decoration: none;
        }
      }

      img {
        width: 45px;

      }
    }
  }

  @media  #{$max575}{
    padding-left: 0;
    padding-right: 0;
    ul {
      &.logo {
        a span {
          display: none;
        }
      }
    }
  }
}


.personalMenu {
  margin-top: 90px;

  ul {
    padding-top: 20px;
    padding-bottom: 30px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    background-color: #f9f9f9;

    li {
      a {

        padding: 8px 15px;
        display: block;
        color: #656565;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        position: relative;

        i {
          margin-right: 10px;
        }

        &:hover {
          text-decoration: none;
          background-color: rgba(101, 101, 101, 0.25);
        }

        &.active {
          background-color: rgba(101, 101, 101, 0.05);

          &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 3px;
            background-color: #656565;
          }

          &:hover {
            text-decoration: none;
            background-color: rgba(101, 101, 101, 0.25);
          }
        }
      }
    }
  }

  @media #{$max767} {
    margin-top: 0;
  }
}

main{
  margin-bottom: 40px;
}


footer {
  opacity: 0;
  position: absolute;
  width: 100%;
  //margin-top: 40px;
  background-color: #656565;
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding: 15px;
  font-weight: 700;

  p {
    margin-bottom: 0;
  }
}
