
$max991: 'screen and (max-width: 991px)';
$max767: 'screen and (max-width: 767px)';
$max575: 'screen and (max-width: 575px)';

$min991: 'screen and (min-width: 991px)';
$min767: 'screen and (min-width: 767px)';
$min575: 'screen and (min-width: 575px)';